<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">YouTube</div>
  <div class="mdl-card__actions">
    <iframe width="{{width}}" height="{{height}}" src="https://www.youtube.com/embed/{{id}}" frameborder="{{border}}" {{allowfullscreen}}></iframe>
  </div>
</div>